In [ ]:
import pandas as pd

In [ ]:
#To change custom named missing values to NaN value we can do that while impporting our CSV file

na_vals = ['NA', 'Missing']

df = pd.read_csv('data/survey_results_public.csv', na_values=na_vals)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
# Gives information about the data in each column
df.info()

In [ ]:
#If you want to display more rows and columns the set_option can be used

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
schema_df=pd.read_csv('data/survey_results_schema.csv')

In [ ]:
schema_df

In [ ]:
#Comparisons can be made on numeric values
salary=(df['CompTotal']>70000)
df[salary]

In [ ]:
#A column with unique value for each row can be made index column
df.set_index('Respondent')

In [ ]:
#To check for string isin operator is used '==' is not supported
countries=['India','Spain','Canada']
region=(df['Country'].isin(countries))

In [ ]:
df.loc[region, ['Country', 'CompTotal']]

In [ ]:
#Dictionaries can be converted into dataframs using DataFrame method

people={
    'first':['keel', 'Leo'],
    'last':['Doppo', 'DiCaprio'],
    'email':['keel@gmail.com','leo@gmail.com']
}
df2=pd.DataFrame(people)
df2

In [ ]:
people={
    'first':['Umemiya', 'Kira'],
    'last':['Hime', 'ajsd'],
    'email':['hime@gmail.com','kira@gmail.com']
}
df3=pd.DataFrame(people)
df3

In [ ]:
#Concatenation of data in two columns

df2['full_name']=df2['first']+' '+df2['last']
df2

In [ ]:
#Deletion of columns from a dataframe
df2.drop(columns=['first', 'last'], inplace=True)

In [ ]:
#Spliting data of single column into multiple columns
df2[['first','last']]=df2['full_name'].str.split(' ', expand=True)

In [ ]:
df2

In [ ]:
#Adding row to a dataframe

df2._append({'first':'Adi'}, ignore_index=True)

In [ ]:
#Adding dataframe to a dataframe
#To permanently make changes we need to follow 
#the below give method as inplace argument cannot be used

df2 = df2._append(df3, ignore_index=True, sort=True)
df2

In [ ]:
#Deletion of row from a column

df2.drop(index=df2[df2['first']=='Adi'].index)

In [ ]:
# Sorting values in a dataframe

df2.sort_values(by='last')

In [ ]:
#For descending order

df2.sort_values(by='last', ascending=False)

In [ ]:
#Sorting will be carried out in the given order of the columns

df2.sort_values(by=['last', 'first'], ascending=False)

In [ ]:
#Here the 'last' column will be sorted in descending order and 'first' column will be sorted in ascending order

df2.sort_values(by=['last', 'first'], ascending=[False, True])

In [ ]:
df2['full_name']=df2['first'] + df2['last']
df2

In [ ]:
df2.sort_values(by=['last', 'first'], ascending=[False, True])

In [ ]:
# Sorting by using index

df2.sort_index()

In [ ]:
#Sorting a single column

df2['first'].sort_values()

In [ ]:
#Lets see results on the bigger data set

df.sort_values(by=['Country', 'CompTotal'], ascending=[True, False], inplace=True)
df[['Country', 'CompTotal']].head(20)

In [ ]:
#To extract largest values out of a column used nlargest method

df['CompTotal'].nlargest(10)  #Will return 10 largest values from the specefied column

In [ ]:
df.nlargest(10, 'ConvertedComp')

In [ ]:
#Similarly to find the smallest value use nsmallest method

df.nsmallest(10, 'ConvertedComp')

In [ ]:
# To find mean, median and mode of the data

df['ConvertedComp'].mean()

In [ ]:
df['ConvertedComp'].median()

In [ ]:
df['ConvertedComp'].mode()

In [ ]:
#If we use describe functioon on entire dataset
#It will grab the columns that contain nummeric values and
#return the value according to the function performed

df.describe()

In [ ]:
# Count function counts the non-empty rows in the guven column

df['CompTotal'].count()

In [ ]:
# Value_count function counts how many time each unique value is there in the given column

df['Hobbyist'].value_counts()

In [ ]:
df[['CompTotal', 'Hobbyist']].value_counts()

In [ ]:
df['SocialMedia'].value_counts()

In [ ]:
# We can use noramlize attribute to make them comparable and into form of percentange

df['SocialMedia'].value_counts(normalize=True)

In [ ]:
#Group by method is an important method used in data analysis and data science to sort out data
#We will see implementation of group by method and how it is useful

country_grp = df.groupby(['Country'])

In [ ]:
country_grp.get_group(('India',))

In [ ]:
#I f we apply any filter on the group made using group by method
#it will return the value for each respective group within it 
#Here is an exemple bellow how it will work

country_grp['SocialMedia'].value_counts().head(20)

In [ ]:
#You can run aggregate function on the group made

country_grp['CompTotal'].median()

In [ ]:
#By using loc method you can get results for specific values you want

country_grp['CompTotal'].median().loc['Germany']

In [ ]:
# agg function can be used to run multiple aggregate function at the same time

country_grp['ConvertedComp'].agg(['median', 'mean'])

In [ ]:
#In string methods we have contains function which can be used
#to check for the gicen string in the respective columns
#in the given example below if we want to know number of people
#ust use sum function as sum will assume false=0 and true=1

filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

In [ ]:
#We cannot use tring functions on a groupby object i.e.
#Group made using group by method, we would rather use the apply method

country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
#Here we get the number of people using python from each country

In [ ]:
#Exercise to find percentage of people knowing python from each country

tc = df['Country'].value_counts()
cg = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
py_df = pd.concat([tc, cg], axis='columns', sort=False)
py_df

In [ ]:
py_df['Percent'] = (py_df['LanguageWorkedWith']/py_df['count'])*100
py_df

In [ ]:
py_df.sort_values(by='Percent', ascending=False, inplace=True)
py_df

In [ ]:
#To find mean of how many years a person worked as a coder

#First we will note all the unique values in the column for proper casting of data

df['YearsCode'].unique()

In [ ]:
df['YearsCode'] = df['YearsCode'].replace('Less than 1 year', 0)
df['YearsCode'] = df['YearsCode'].replace('More than 50 years', 51)

In [ ]:
#Now we can covert the data type to float

df['YearsCode'] = df['YearsCode'].astype(float)

# Now we can perform aggrecate methods on the column

df['YearsCode'].mean()